<html>
<head>
    <title>Edit task</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
</head>
<body>
<div class="container w-50">
<div class="card text-left mt-5" style="width: 32rem;align:center;">
    <div class="card-body">
      <div class="card-header">
        <h1> Изменить задачу </h1>
      </div>
        <form action="/task/update/{{task.id}}" method="post">
            <div class="mb-3">
                  <label for="id" class="form-label">Task id</label>
                  <input type="text" class="form-control" id="id" name="id" value="{{task.id}}" readonly>
            </div>
             <div class="mb-3">
                  <label for="title" class="form-label">Task title</label>
                  <input type="text" class="form-control" id="title"  name="title" value="{{task.title}}">
            </div>
            <div class="mb-3">
                  <label for="description" class="form-label">Task description</label>
                 <textarea class="form-control" id="description"  name="description"  rows="3" placeholder=" description">{{task.description}}</textarea>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Task status</label>
                <select id="status" name="status" class="form-select" aria-label="Default select example">
                    <option value="PENDING" {% if task.status.value == "PENDING" %}selected{% endif %}>PENDING</option>
                    <option value="ACTIVE" {% if task.status.value == "ACTIVE" %}selected{% endif %}>ACTIVE</option>
                    <option value="COMPLETED" {% if task.status.value == "COMPLETED" %}selected{% endif %}>COMPLETED</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="created_at" class="form-label">Created date</label>
                <input type="datetime-local" class="form-control" id="created_at"  name="created_at"  value="{{task.created_at}}">
            </div>
            <div class="mb-3">
                <label for="due_date" class="form-label">End date</label>
                <input type="datetime-local" class="form-control" id="due_date"  name="due_date"  value="{{task.due_date}}">
            </div>
            <div class="mb-3">
                <label for="project_id" class="form-label">Select existing Project id</label>
                <select id="project_id" name="project_id" class="form-select" aria-label="Default select example">
                    {% for project in projects %}
                        <option value="{{project.id}}" {% if project.id == task.project_id %}selected{% endif %} value="{{ project.id }}">{{project.id}}</option>
                    {% endfor%}
                </select>
            </div>
            <input type="submit" class="btn btn-primary"> &nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" class="btn btn-danger">
        </form>
        </div>
    </div>
</div>
</body>
</html>