{% extends "base.html" %}
{% block content %}
<h2 class="text-center mb-4">Таблица задач с использованием WebSocket.</h2>
<div class="m-lg-auto">
    <table class="table table-striped table-hover w-50 p-3 m-lg-auto">
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Due date</th>
    </tr>
  </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.title }} </td>
                <td>{{ task.description }}</td>
                <td>{{ task.status.value }}</td>
                <td>{{ task.created_at }}</td>
                <td>{{ task.due_date }}</td>
                <td><a class="btn btn-warning" href="/task/edit/{{task.id}}">Изменить</a></td>
                <td><a class="btn btn-danger" href="/task/delete/{{task.id}}">Удалить</a></td>
            </tr>
        {% endfor %}
</tbody>

</table>
    <div class="d-flex justify-content-center mt-3">
        <a class="btn btn-success" href="/create-task">Создать задачу</a>
    </div>
</div>

<script>
    var ws = new WebSocket("ws://localhost:8000/ws/tasks");
    const container = document.querySelector("tbody")
    ws.onmessage = function (event) {
        var tasks = JSON.parse(event.data);
        console.log(tasks);
        generateTable(tasks);
    };

    function generateTable(data) {
        while (container.firstChild) {
            container.removeChild(container.lastChild);
        }
        container.innerHTML += data.map(item => `
<tr>
    <td>${item.id}</td>
    <td>${item.title}</td>
    <td>${item.description}</td>
    <td>${item.status}</td>
    <td>${item.created_at}</td>
    <td>${item.due_date}</td>
    <td><a href="/task/edit/${item.id}" class="btn btn-warning">Изменить</a></td>
    <td><a href="/task/delete/${item.id}" class="btn btn-danger">Удалить</a></td>
</tr>
    `).join("");
    }
</script>

{% endblock %}